<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singupController</servlet-name>
        <servlet-class>Controller.singupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNews</servlet-name>
        <servlet-class>Controller.editNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteNews</servlet-name>
        <servlet-class>Controller.deleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listNews</servlet-name>
        <servlet-class>Controller.listNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>designTourController</servlet-name>
        <servlet-class>Controller.designTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listTours</servlet-name>
        <servlet-class>Controller.listTours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateNews</servlet-name>
        <servlet-class>Controller.updateNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>Controller.a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailTour</servlet-name>
        <servlet-class>Controller.detailTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByIdTour</servlet-name>
        <servlet-class>Controller.searchByIdTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>Controller.order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historyOrder</servlet-name>
        <servlet-class>Controller.historyOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singupController</servlet-name>
        <url-pattern>/singupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNews</servlet-name>
        <url-pattern>/editNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteNews</servlet-name>
        <url-pattern>/deleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listNews</servlet-name>
        <url-pattern>/listNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>designTourController</servlet-name>
        <url-pattern>/designTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listTours</servlet-name>
        <url-pattern>/listTours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateNews</servlet-name>
        <url-pattern>/updateNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailTour</servlet-name>
        <url-pattern>/detailTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByIdTour</servlet-name>
        <url-pattern>/searchByIdTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historyOrder</servlet-name>
        <url-pattern>/historyOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
